.desktop {
    background-color: #5b9bd5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

.desktop .div {
    background-color: #5b9bd5;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
.desktop .overlapGroup {
    position: absolute;
    width: 462px;
    height: 522px;
    top: 318px;
    left: 489px;
    border-radius: 8px;
  }

.desktop .FormLogIn {
    display: flex;
    flex-direction: column;
    width: 462px;
    height: 522px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
  }

  .desktop .inputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .label {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .desktop .input {
    display: flex;
    min-width: 240px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
  }
  
  .desktop .textWrapper {
    position: relative;
    flex: 1;
    margin-top: -0.50px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
  }
  
  .desktop .buttonGroup {
    display: flex;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .desktop .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #bdd7ee;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
  }
  
  .desktop .button2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-default);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .desktop .textLink {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .textLink2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--body-link-font-style);
  }
  
  .desktop .textLinkWrapper {
    display: flex;
    width: 414px;
    align-items: flex-start;
    position: absolute;
    top: 298px;
    left: 24px;
  }
  
  .desktop .p {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    white-space: nowrap;
    font-style: var(--body-link-font-style);
  }
  
  .desktop .span {
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: #1e1e1e;
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    font-style: var(--body-link-font-style);
  }
  
  .desktop .textWrapper2 {
    text-decoration: underline;
    font-family: var(--body-link-font-family);
    font-style: var(--body-link-font-style);
    font-weight: var(--body-link-font-weight);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    font-size: var(--body-link-font-size);
  }
  
  .desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 164px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .desktop .textWrapper3 {
    position: absolute;
    top: 46px;
    left: 119px;
    font-family: "JejuGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .textWrapper4{
    position: absolute;
    top: 273px;
    left: 493px;
    font-family: "Jersey 20-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  