.dashboardContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    background-color: #5b9bd5;
    font-family: "JejuGothic-Regular", Helvetica, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 1rem 1rem;
    gap: 35rem;      /* having trouble right justifying the right header*/
    background-color: #ffffff;
    color: #000000;
  }
  
  .headerLeft {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }

  .headerRight {
    font-size: 1rem;
    font-weight: normal;
    text-align: right;
  }
  

  .contentGrid {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #5b9bd5;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #bdd7ee;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    color: #000000; 
  }

  .contentMain{
  background-color: #ffffff;
  color: #000000;
}

  .exerciseTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #bdd7ee;
  }

  .th {
    border: 1px solid #bdd7ee;
    padding: 8px;
    background-color: #f0f0f0;
    text-align: left;
  }

  .td {
    border: 1px solid #bdd7ee;
    padding: 8px;
    background-color: #ffffff;
    color: #000000; 
  }

  .leftSidebar,
  .mainContent,
  .rightSidebar {
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    background-color: #ffffff;
    color: #000000; 
  }

  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }